body{
	background-color: black;
	display: flex; 
}
.main{
	background-color: white;
	background-repeat: none;
	height: 100px;
	width: 100%;
	float: left;
	left: 0;
}
#footer{
	bottom: 0px;
	position: absolute;
	background-color: darkgray;
	flex-grow: 10; 
}
.icons{
	position: absolute;
	top: 20%;
	bottom: 50%;
	left: 50%;
	right: 50%;
	display: table-cell;
	vertical-align: center;
}
#input{
	background-color: black;
	bottom: 102px;
	position: absolute;
	right: 0;
	height: 20px;
	min-width: 98.4%;
	color: green;
	font:courier;
	font-size: 80%;
}
#character{
	color: green;
	bottom: 107px;
	position: absolute;
	left: 2px;
	height: 18px;
}
.text{
	color: green;
}
#targetDiv{
	width: 100%;
	height: 80%;
	background-color: black;
	overflow: auto; 
	flex-grow: 90; 
	color: green;
}
.text{
	font-size: 20px;
}
html, body { 
	margin: 0; 
	padding: 0; 
	min-height: 100vh; 
}
footer {
	height: 100px; 
}
#targetDiv { 
	height: calc(100vh - 100px - 30px); 
}
